/* universal selector */

*{
  /* box-sizing: content-box; -- Borderbox ti indica la misura completa del box, compreso padding, border ecc */
  box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* reset the body's margins */
  body {
    margin:0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  
  /* max with ti aiuta a manterere la dimensione delle boxex sempre all'interno del viewport */
  h1 {
    margin: 0;
    font-size: 8em;
    padding: 1em;
    background-color:rgb(112, 112, 83);
    letter-spacing: -9px;
    font-weight: 500;
    line-height: .9;
    text-align: center;
  
  }
  
  h2 {
    margin: 0;
    font-size: 5em;
    letter-spacing: -9px;
    line-height: .9;
    font-weight: 500;
  
  }
  
  article {
    padding: 1em;
      min-height: 50vh;
    /* viewport units*/
    /* 100vw= viewport width*/
    /* 100vh= viewport height */
    background-color: rgb(245, 245, 220);
  }
  
   /* odd vuol dire dispari */
  article:nth-child(odd){
    background-color: rgb(210, 210, 191);
  }
  
  /*
  even vuol dire pari
  article:nth-child(even){
  } 
  */
  
  footer {
    padding: 1em;
  }
  
  .symbol {
    color: red;
    font-size: 4em;
  }